
h1 {
    display:none
}
h2 {
font-family: "Barlow", serif;
font-size: 2em;
font-weight: 700;
color: #1c1c1c;
line-height: 3;

}
body {
    font-family: "Prompt", serif;
    font-size: 14px;
    font-size: 14px;
    background-color: #1c1c1c;
}
main {
    background-color: #fefefe;
}
header,
footer {
    text-align: center;
    padding: 3em 0;
}
header img {
    width:15%;
    padding: 0 0 2em 0;
}
a { 
    text-decoration: none;
}
nav {
    word-spacing: 2em;
}
nav a {
    text-transform: uppercase;
    color: #fefefe;
}
section {
    margin: 5em 0;
}
main {
    padding: 0 0 5em 0;
}
.links,
footer {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Barlow", serif;
    letter-spacing: 1px;
}
.links a {
    color: #1c1c1c
}
footer a {
    color: #fefefe
}